body {
    color: black;
    background-color: #ddd;
    font-family:verdana,arial,sans-serif;
    font-size:12px;
    padding: 1ex 0;
}
p {
    text-indent: 2em;
}
p.right {
    text-align: right;
    margin: 0 15px;
}
td {
    /*border:#9d0a0e 1px solid;*/
    border:#666666 1px solid;
}
a {
    text-decoration:none;
    color:#660000;
}
a:hover {
    text-decoration:underline;
}
ul.none {
    list-style:none;
}
input, textarea {
    border: 1px solid #666666;
}
.clearer {
    clear: both;
}
.sep {
    height:3ex;
}

/* top level div */
#top {
    background: #a2a09b URL('/images/top2.png') no-repeat;
    height: 80px;
    width: 960px;
    border: 1px solid #666666;
    border-bottom: 0px none;
    margin: 0 auto;
}
#bot {
    background: #a2a09b URL('/images/bot.png') no-repeat;
    height: 80px;
    width: 960px;
    border: 1px solid #666666;
    border-top: 0px none;
    margin: 0 auto;
    color: #666;
    font-size: 12px;
    text-align: center;
}
#bot p {
    padding-top: 10px;
    margin: 0 auto;
}

/* header */
#header, #content {
    width: 960px;
    margin: 0 auto;
    padding-top: 3ex;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    background-color: white;
}
#content {
    padding-bottom: 2ex;
}

#personaltools {
    margin: 0;
    padding: 0;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
    height: 1.5ex;
    background-color:#aa6e70;
}
#global-nav {
    padding: 0;
    margin: 0;
    margin-left: 0.5em;
    list-style: none;
}
#global-nav li {
    display: inline;
    border: 1px solid #666666;
    padding: 2px 15px 0px 15px;
    margin-left: 0.5em;
}
#global-nav li.selected {
    background-color: #aa6e70;
    border-bottom: 1px solid #aa6e70;
}
#crumbs {
    border-bottom: 1px solid #666666;
    padding: 1px 0 1px 15px;
}

/* content */
#colone {
    width: 190px;
    float: left;
    margin: 0 15px;
}
#colone .title {
    background-color: #aa6e70;
    border: 1px solid #666666;
    border-bottom: 0 none;
    padding: 2px 0;
    text-align: center;
}
#colone .listcon {
    border: 1px solid #666666;
    margin-bottom: 2ex;
}
#colone .listcon ul {
    list-style: decimal-leading-zero;
    line-height: 20px;
}

#coltwo {
    width: 680px;			/* 960 = 190+15*4+x 15px~~15px -30px for ie6, ri */
    float: left;
    margin: 0 15px;
    padding: 0;
}
#coltwo .title {
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid #666666;
}
#coltwo p {
    line-height: 18px;
}
#coltwo pre {
    width: 90%;
    padding: 0.5em;
    /*background-color: #aa6e70;*/
    background-color: #ffcccc;
    border: solid 1px #666666;
    color: #112222;
}

.valid{border:2px solid green !important;}
.invalid{border:2px solid #800 !important;}
