#header, #content
{
  width:960px;
  background-color: white;
  border-left: 1px solid #666666;
  border-right: 1px solid #666666;
  padding-top: 3ex;
  margin: 0 auto 0 auto;
  }

#global-nav
{
  margin:0pt;
  padding:0em 0em 0em 1em;
  }
#global-nav li
{
  display:inline;
  }
#global-nav li a
{
  border-color:#666666;
  border-style:solid;
  border-width:1px;
  margin-right:0.5em;
  padding:0em 1em;
  }
#global-nav li.selected a
{
  background-color:#b3b2ad;	/* D4CFCB */
  border-color:#666666 #666666 #b3b2ad;
  border-style:solid;
  border-width:1px;
  }
#global-nav li a:hover
{
  background-color:#b3b2ad;	/* D4CFCB */
  }
#personaltools
{
  background-color:#b3b2ad;	/* D4CFCB */
  border-bottom:1px solid #666666;
  border-top:1px solid #666666;
  color:Black;
  line-height:1.3ex;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0pt;
  padding:0em 3em;
  text-align:right;
  height:1ex;
  }
#personaltools .member
{
  background:transparent url(http://www.fsf.org/user.gif) no-repeat scroll left center;
  padding-left:15px;
  }
#personaltools .guest
{
  background:transparent none repeat scroll 0%;
  color:Black;
  padding:0pt;
  }
#personaltools li
{
  background:transparent url(http://www.fsf.org/linkOpaque.gif) no-repeat scroll left center;
  color:#660000;
  display:inline;
  margin-left:1em;
  padding-left:8px;
  }
#personaltools li a
{
  color:#660000;
  text-decoration:none;
  }
#crumbs
{
  border-bottom:1px solid #666666;
  padding-left:1em;
  padding-right:2em;
  }

#colone
{
  float: left;
  width: 215px;
  padding: 0em 0em 0em 1em;
  }
#colone .title
{
  background-color: #b3b2ad;	/* D4CFCB */
  border-style: solid solid none;
  border-color: #666666;
  border-width: 1px;
  text-align: center;
  padding: 2px 0;
  }
#colone .listcon
{
  border: 1px solid #666666;
  padding: 0 1em;
  margin-bottom: 2ex;
  }
.listcon ul
{
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  }
.listcon ul li {
                 line-height:18px;
                 }
.listcon a:hover {
                   background-color: #b3b2ad;
                   }

#coltwo
{
  float: left;
  width: 700px;			/* 960 = 15+215+15+x+15 15px~~1em */
  margin: 0px;
  padding: 0em 15px 0em 15px;
  }
#coltwo .title
{
  font-weight: bold;
  font-size: 14px;
  border-bottom:1px solid #666666;
  margin: 0 0 1ex 0;
  }
#coltwo .sep
{
  height:3ex;
  }
#coltwo pre
{
  width: 90%;
  padding: 0.5em;
  /*margin: 12px 15px;*/
  background-color: #eeeeee;
  border: solid 1px #aaaaee;
  color: #112222;
  font-size: 10px;
  }

#coltwo input:focus,
#coltwo testarea:focus
{
  border-color: #990000;
  border-width: 1px;
  background-color: #eeeeee;
  }
