Nmdb {
	n_user {
		ip = 127.0.0.1
		port = 26010
	}
	n_phot {
		ip = 127.0.0.1
		port = 26010
	}
	n_vide {
		ip = 127.0.0.1
		port = 26010
	}
	n_blog {
		ip = 127.0.0.1
		port = 26010
	}
    n_slide {
		ip = 127.0.0.1
		port = 26010
    }
}

Db {
	ip = 127.0.0.1
	user = test
	pass = test
	name = test
}

Tables {
	n_user_space {
		table = test.userspace
		keycol = testid
		valcol = testvalc
	}
	n_photo {
		table = test.photo
		keycol = testid
		valcol = testvalc
	}
	n_photo_album {
		table = test.photoalbum
		keycol = testid
		valcol = testvalc
	}
	n_video {
		table = test.video
		keycol = testid
		valcol = testvalc
	}
	n_video_d {
		table = test.videod
		keycol = testid
		valcol = testvalc
	}
	n_video_album {
		table = test.videoalbum
		keycol = testid
		valcol = testvalc
	}
	n_blog {
		table = test.blog
		keycol = bid
		valcol = testvalc
	}
}