[submodule "lib/js/jquerytools"]
	path = lib/js/jquerytools
	url = https://github.com/jquerytools/jquerytools.git
[submodule "lib/js/flot"]
	path = lib/js/flot
	url = https://github.com/flot/flot.git
[submodule "lib/js/cycle"]
	path = lib/js/cycle
	url = https://github.com/malsup/cycle.git
[submodule "lib/js/markitup"]
	path = lib/js/markitup
	url = https://github.com/markitup/1.x.git
[submodule "lib/js/jqueryUploader"]
	path = lib/js/jqueryUploader
	url = https://github.com/jdeniau/jquery-image-uploader.git
[submodule "lib/js/noty"]
	path = lib/js/noty
	url = https://github.com/needim/noty.git
