body {
	padding: 0;
	margin: 0;
	/*  background: #315065 url(/images/bgb.jpg) no-repeat center top;*/
	background: #315065;
    color: #fcfcfc;

	/*  width: 100%;*/
	/*  display: table;*/
    font-family:verdana,arial,sans-serif;
    font-size:12px;
	/*  padding: 1ex;*/
}

#top, #bot {
    height: 100px;
    background: #4c7593;
    border: 1px solid #564c66;
}
#bot p {
    padding-top: 10px;
    font-size: 12px;
    text-align: center;
}

#mid {
    width: 960px;
    margin: 0 auto;
    padding-top: 3ex;
/*    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    background-color: white;*/
	
}

.indentmenu .crumbs{
    width: 100%; /*leave this value as is in most cases*/
    overflow: hidden;
}
.indentmenu {
    font: bold 14px Georgia;
}

.indentmenu ul, .crumbs ul {
    margin: 15px 0 0 0;
    padding: 0;
    float: left;
    width: 100%; /*width of menu*/
    border: 1px solid #564c66; /*dark purple border*/
    border-width: 1px 0;
}
.indentmenu ul {
    background: black url(/images/upd.jpg) center center repeat-x;
}
.indentmenu ul li, .member ul li, .crumbs ul li {
    display: inline;
}
.indentmenu ul li a {
    float: left;
    padding: 5px 11px;
    border-right: 1px solid #564c66; /*dark purple divider between menu items*/                    
}
.indentmenu ul li a:hover, .indentmenu ul li .selected {
    color: white !important; /*text color of selected and active item*/
    padding-top: 6px; /*shift text down 1px for selected and active item*/
    padding-bottom: 4px; /*shift text down 1px for selected and active item*/
    background: black url(/images/upl.jpg) center center repeat-x;
}

.member ul {
    float: right;
    margin: 68px 10px 0 0;
}
.member ul li a {
    float: left;
    margin: 5px 0;
	padding: 0 5px;
    border-right: 1px solid #564c66; /*dark purple divider between menu items*/                    
}


a {
    text-decoration: none;
    color: #ba7729; /*text color*/
}

.hide {display: none;}
.show {display: block;}
.valid{border:2px solid green !important;}
.invalid{border:2px solid #800 !important;}
