/* public */
.indentmenu ul li, .member ul li, .crumbs ul li {
    display: inline;
}

/* member part */
.member ul {
    float: right;
    margin: 68px 25px 0 0;
}
.member ul li{
    float: left;
    margin: 5px 0;
	padding: 0 8px;
    border-right: 1px solid #101010;
}
.member ul li.last{
	border-right: 0 none;
}

/* global nav part */
.navbanner{
    width: 100%;
    overflow: hidden;
}
.indentmenu ul, .crumbs ul {
    width: 100%;
    float: left;
	
    margin: 0;
    padding: 0;
	
    border: 1px solid #101010;
    border-width: 1px 0;
}
.indentmenu {
    font: bold 13px Georgia;
	background-color: #2f4f4f;
}
.indentmenu ul li a {
    float: left;
    padding: 5px 11px;
    border-right: 1px solid #101010;
}
.indentmenu ul li a:hover, .indentmenu ul li .selected {
    padding-top: 6px; /*shift text down 1px for selected and active item*/
    padding-bottom: 4px; /*shift text down 1px for selected and active item*/
    background: black url(/images/updownl.jpg) center center repeat-x;
}
.crumbs {
	margin-top: 10px;
	background: #2f4f4f;
	line-height: 26px;
}
.crumbs ul li {
	margin: 0 -5px 0 11px;
}

/* content */
#content {
	margin: 2ex 0 0 0;
    border: 1px solid #101010;
    border-width: 1px 0;
	background: #2f4f4f;
}
#colone {
    float: left;
    width: 190px;
    margin: 0 15px;
}
#colone .title {
	margin: 15px 0;
    padding: 2px 0;
	
    background: black url(/images/upl2.jpg) center center repeat-x;
    border: 1px solid #101010;
    border-bottom: 0 none;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
#colone .listcon {
    margin-bottom: 2ex;
    border: 1px solid #101010;
}
#colone .listcon ul {
    list-style: decimal-leading-zero;
    line-height: 20px;
}

#coltwo {
    float: left;
    width: 710px;			/* 960 = 190+15*4+x 15px~~15px -30px for ie6, ri */
    margin: 0 15px 15px 15px;
    padding: 0;
}
#coltwo .title {
	margin: 15px 0;
    border-bottom: 1px solid #101010;
	
    font-weight: bold;
    font-size: 12px;
}
#coltwo p {
    line-height: 18px;
}
#coltwo pre {
    width: 90%;
    padding: 0.5em;
    border: solid 1px #aaaaee;
    color: #112222;
    background-color: #eeeeee;
}
