/* member part */
.member ul {
    float: right;
    margin: 8px 25px 0 0;
}
.member ul li{
	display: inline;
    float: left;
    margin: 5px 0;
	padding: 0 8px;
    border-right: 1px solid #101010;
}
.member ul li.last{
	border-right: 0 none;
}

/* global nav part */
.navbanner{
    width: 100%;
	height: 27px;
    border: 1px solid #101010;
    border-width: 1px 0;
}
ul.indentmenu li, ul.crumbs li {
	display: inline;
}
ul.indentmenu, ul.crumbs {
    float: left;
    margin: 0;
    padding: 0;
	
}
.indentmenu {
    font: bold 13px Georgia;
}
ul.indentmenu li a {
    float: left;
    padding: 5px 11px;
    border-right: 1px solid #101010;
}
ul.indentmenu li a:hover, ul.indentmenu li .selected {
    padding-top: 6px; /*shift text down 1px for selected and active item*/
    padding-bottom: 4px; /*shift text down 1px for selected and active item*/
    background: black url(/images/updownl.jpg) center center repeat-x;
}
.crumbs {
	margin-top: 10px;
	line-height: 26px;
}
ul.crumbs li {
	margin-right:5px;
}
ul.crumbs li.first {
	margin-left:11px;
}
ul.uc-menu {
	display: none;
	float: right;
	margin-right: 1em;
}

/* content */
#content {
	margin: 2ex 0 0 0;
    border: 1px solid #101010;
    border-width: 1px 0;
}
#colone {
    float: left;
    width: 180px;
    margin: 0 15px;
}
#colone .title {
	/*color: #EE1C25;*/
	margin: 15px 0 0 0;
    padding: 2px 0;
	
    /*background: black url(/images/upl2.jpg) center center repeat-x;*/
    border: 1px solid #101010;
    border-bottom: 0 none;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
#colone .listcon {
    margin-bottom: 2ex;
    border: 1px solid #101010;
}
#colone .listcon ul {
    line-height: 20px;
}
#colone .listcon ul li {
    text-align: center;
}

#coltwo {
    float: left;
    width: 710px;			/* 960 = 180+15*4+x 15px~~15px -30px for ie6, ri */
    margin: 0 15px 15px 15px;
    padding: 0;
}
#coltwo .title {
	/*color: #EE1C25;*/
	margin: 15px 0;
    border-bottom: 1px solid #101010;
	
    font-weight: bold;
    font-size: 12px;
}
#coltwo p {
    line-height: 18px;
}
#coltwo pre {
    width: 90%;
    padding: 0.5em;
    border: solid 1px #aaaaee;
    color: #112222;
    background-color: #eeeeee;
}

/* ck means chunk */
#coltwo .ckhalf {width: 345px;}
#coltwo .ckthird {width: 230px;}
#coltwo .ckquarter {width: 175px;}
#coltwo .ckfifth {width: 135px;}
#coltwo .cksixth, #coltwo .ck4em {width: 100px;}
#coltwo .ck2em {width: 2em;}

#coltwo .ckleft {
    float: left;
    margin: 0 10px 0 0;
    text-align: left;
}

#coltwo .ckright {
    float: right;
    margin: 0 0 0 10px;
    text-align: right;
}
