div.overlaytitle {
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 10px 0;
}

.infoform {
	padding: 10px 0;
}

.infoform input {
	/*width: 180px;*/
	border: 1px solid #101010;
}
.infoform ul {
	margin: 0;
	padding: 0;

    list-style: none;
    line-height: 20px;
}
.infoform ul li {
	margin: 5px 0;
}
.infoform .leftitem {
	float: left;
	width: 100px;
	margin: 0 18px 0 0;
    text-align: right;
}
input.submitbtn, button.submitbtn {
	width: auto;
	height: auto;
	margin-top: 10px;
	padding: 2px 40px;
	
	text-align: center;
	vertical-align: middle;
	
	background-color: #653a08;
}
input.submitbtn:hover {
	background-color: #ba7729;
	cursor: pointer;
}

table.list {
    /*margin:5px 0px;*/
	padding:0px;
	font-size:12px;
	line-height:20px; 
}
table.list th{
	border: 1px solid #101010;
	background: #518888;
	padding: 0 10px;
}
td.td_border {
	border: 1px solid #101010;
	line-height:22px;
	background: #437070;
}
table.list .submitbtn {
	width: auto;
	height: auto;
	
	text-align: center;
	vertical-align: middle;
	border: 1px solid #101010;
	
	background-color: #653a08;
}
table.list .submitbtn:hover {
	background-color: #ba7729;
	cursor: pointer;
}

#pagenav {float: right; margin: 0 10px;}
#pagenav span {margin: 0 5px;}
